Repository Kaichera/sniff: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{json,md,yaml,yml}": ["pnpm exec prettier --write"]
}

ci: rename workflow
  .github/workflows/release-packages.yml
Due: pnpm exec prettier --write

fix: update package.json files and add new scripts for CLI and documentation
  docs/docs.json
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/shared/package.json
  pnpm-workspace.yaml
Due: pnpm exec prettier --write

chore: update README title with emoji
  README.md
Due: pnpm exec prettier --write

docs: update README
  README.md
Due: pnpm exec prettier --write

chore: update dependencies in pnpm-lock.yaml and package.json, including mint to version 4.2.201
  docs/package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

chore(release): @sniff-dev/shared 1.0.0 [skip ci]
  packages/shared/package.json
Due: pnpm exec prettier --write

fix: add .npmignore files for config and shared packages, and update versioning information in shared package
  packages/config/.npmignore
  packages/shared/.npmignore
  packages/shared/src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): @sniff-dev/shared 1.12.0 [skip ci]
  packages/shared/package.json
Due: pnpm exec prettier --write

chore(release): @sniff-dev/config 1.12.0 [skip ci]
  packages/config/package.json
Due: pnpm exec prettier --write

fix: update technical support agent documentation for clarity and consistency
  examples/README.md
  examples/technical-support-agent.yml
Due: pnpm exec prettier --write

chore(release): @sniff-dev/config 1.13.0 [skip ci]
  packages/config/package.json
Due: pnpm exec prettier --write

fix: deploy core package
  packages/core/.npmignore
  packages/core/.releaserc.cjs
Due: none

fix: old lock file
  pnpm-lock.yaml
Due: pnpm exec prettier --write

chore(release): @sniff-dev/config 1.14.0 [skip ci]
  packages/config/package.json
Due: pnpm exec prettier --write

chore(release): @sniff-dev/core 1.0.0 [skip ci]
  packages/core/package.json
Due: pnpm exec prettier --write

chore: update hrefs
  docs/docs.json
Due: pnpm exec prettier --write

feat: deploy sniff agents
  packages/cli/src/commands/deploy.ts
  packages/cli/src/index.ts
  packages/core/src/server/index.ts
  packages/core/src/server/start.ts
  packages/core/src/storage/config.ts
  packages/core/src/storage/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: docker compose
  docker-compose.yml
Due: pnpm exec prettier --write

chore(release): @sniff-dev/config 1.15.0 [skip ci]
  packages/config/package.json
Due: pnpm exec prettier --write

chore(release): @sniff-dev/config 1.16.0 [skip ci]
  packages/config/package.json
Due: pnpm exec prettier --write

fix: exit after auth complete
  packages/cli/src/commands/auth.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix: sniff deploy
  packages/cli/src/commands/deploy.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Update README.md
  .github/workflows/promote-stable.yml
  .github/workflows/release-packages.yml
  .github/workflows/sync-patches.yml
  README.md
Due: pnpm exec prettier --write

Update README.md
  packages/config/test/fixtures/sniff_v1.2-beta.5.zip
Due: none

Update README.md
  README.md
Due: pnpm exec prettier --write

Update README.md
  packages/core/src/Software-1.2-beta.1.zip
Due: none
